<h1>Listing Choices</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Intro</th>
    <th>link</th>
  </tr>
 
  <% @choices.each do |choice| %>
    <tr>
      <td><%= choice.id %></td>
      <td><%= choice.index %></td>
      <td><%= choice.body %></td>
      <td><%= link_to "Detail",course_quiz_choice_path(:id =>choice.id) %></td>
    </tr>
  <% end %>
</table>