<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>
 
<p>
  <strong>Intro:</strong>
  <%= @video.description %>
</p>
<p>
  <strong>Image:</strong>
  <%= @video.img %>
</p>
<p>
  <strong>URL:</strong>
  <%= @video.url %>
</p>
