// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#videoUrl{
	width:600px;
	height:410px;
	position:relative;
	top:5%;
	border:0;
}
#quiz_panel{
	width:700px;
	height:600px;
	position:fixed;
	top:10%;
	left:20%;
	border:0;
	z-index:999;
	background-color:white;
}
#quiz_quit{
	right:20px;
	top:20px;
	position:absolute;
	width:100px;
}
#quiz_iframe{
	width:600px;
	height:400px;
	border:0;
}