<% content_for :head do %>
   <link rel="stylesheet" type="text/css" href="/assets/exercises.css.scss" />
   <script type="text/javascript" src="/assets/jquery.min.js"></script>
<% end %>
<% if @result %>
<div>success</div>
<% else %>
<div>Fail</div>
<%end%>
