<% content_for :head do %>
   <link rel="stylesheet" type="text/css" href="/assets/exercises.css.scss" />
   <script type="text/javascript" src="/assets/jquery.min.js"></script>
<% end %>
<p>
  <strong>q:</strong>
  <%= @exercise.question%>
</p>
<form action="/courses/<%= @exercise.course_id %>/exercises/<%= @exercise.id %>/check" method="post">
<p>
  <strong>A:</strong>
  <textarea cols="40" id="attempt" name="attempt"></textarea>
</p>
<button>提交答案</button>
</form>